{% extends 'base.html.twig' %}

{% set subheading   = "Bank" %}
{% set breadcrumbs  = "Details" %}

{% block body %}
  <div class="pull-right">
    <a href="/banks" class="btn btn-primary">Back to list of banks</a>
    <a href="/bank/edit/{{ bank.id }}" class="btn btn-default">Edit</a>
    <a href="/bank/delete/{{ bank.id }}" class="btn btn-danger">Delete</a>
  </div>

  <h2 class="page-header">{{ bank.name }}</h2>

  <ul class="list-group">
    <li class="list-group-item"><strong>Bank name:</strong> {{ bank.name }}</li>
    <li class="list-group-item"><strong>Short name:</strong> {{ bank.alias }}</li>
    <li class="list-group-item"><strong>Date added:</strong> {{ bank.dateAdded|date('F j, Y') }}</li>
  </ul>
{% endblock %}
